body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #8bb0d1;
  }

.title {
    padding: 1rem;
    text-align: center;
    background-color: #f0f0f0;
  }

.content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.box {
    width: 200px;
    height: 200px;
    margin: 1rem;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
  }

iframe {
    height: 300px;
    width: 100%;
    border: 0;
  }